<div class=" site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                        <li class="active">
                            <a href="/" style="padding-left: 70px;padding-right: 70px;" class="nav-link text-left">Home</a>
                        </li>

                        <li>
                            <a style="padding-left: 70px;padding-right: 70px;" href="/about" class="nav-link text-left">Hakkımda</a>
                        </li>
                        <li>
                            <a style="padding-left: 70px;padding-right: 70px;" href="/categorys" class="nav-link text-left">News Categories</a>
                        </li>
                        <li>
                            <a style="padding-left: 70px;padding-right: 70px;" href="/contact" class="nav-link text-left">Contact</a>
                        </li>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                              </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button"><a href="/technology">      Technology</a></button>
                            <button class="dropdown-item" type="button"><a href="/entertainment">   Entertainment</a></button>
                            <button class="dropdown-item" type="button"><a href="business">        Business</a></button>
                            <button class="dropdown-item" type="button"><a href="/health">           Health</a></button>
                            <button class="dropdown-item" type="button"><a href="/general">         General</a></button>
                            <button class="dropdown-item" type="button"><a href="/sports">          Sport</a></button>
                            <button class="dropdown-item" type="button"><a href="/science">         science</a></button>
                        </div>

            </div>
            </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</div>