<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="agency, business, corporate, creative, freelancer, interior, minimal, modern, multipurpose, personal, portfolio, responsive, simple" />
    <meta name="description" content="ajax portfolio one page" />
    <meta name="author" content="cosmos-themes" />
    <title>Alaaddin Turğay</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/modernizr.js"></script>
</head>

<body class="smooth-scroll">

    <div class="preloader">
        <div class="loader-wrap">
            <div class="loader">
                <div class="loader-percent"></div>
            </div>
            <div id="percent">0%</div>
        </div>
    </div>
    <div id="main">
        <div class="ct-main-content ct-about">
            <header>
                <div class="logo-container">
                    <a href="index.html" id="logo" class="cursor-link" data-type="page-transition">
                        <img src="images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="menu-burger">
                    <div class="parallax-wrap burger-wrap">
                        <div class="parallax-icon">
                            <div class="burger-box">
                                <div class="burger-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="burger-text">
                        <div class="text-menu">MENU</div>
                        <div class="text-open">AÇ</div>
                        <div class="text-close">KAPAT</div>
                    </div>
                </div>
            </header>

            <div id="menu-overlay">
                <div class="container">
                    <div class="content-wrapper">
                        <nav class="primary-nav">
                            <ul>
                                <li><a class="menu-link cursor-link" data-type="page-transition">Bana Ulaşın</a></li>
                            </ul>
                        </nav>
                        <div class="company-info">
                            <a href="#" class="info-email link-underline cursor-link">alaaddin01turgay@gmail.com</a><br>
                            <a href="#" class="info-tel link-underline cursor-link">+90 (530) 302 01 34</a>
                            <div class="info-address">
                                <p>Türkiye / Adana</p>
                            </div>
                            <ul class="sm-links">
                                <li><a class="cursor-link"><i class="fab fa-"></i>Sosyal Linkler</a></li>
                                <li><a href="https://github.com/xmarconx" class="cursor-link"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/alaaddin-turgay/" class="cursor-link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://twitter.com/xmarconx" class="cursor-link"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="scroll-content">
                <div class="page-content">
                    <div class="hero">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="hero-content">
                                        <div class="hero-subtitle">Ben Kimim ? </div>
                                        <div class="hero-title">Hade Tanışalım...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="intro pt-row pb-row">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-animate text-fadeIn fade-up">
                                        Merhaba Ben Alaaddin. kendimi Front end teknolojilerinde geliştirmeye ve en iyi Şekilde işimi Yapmaya çalışıyorum. Hedefim kariyerime geliştirici olarak devam etmek ve bu alanda sektörde profesyonel olarak çalışmak.

                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="services pb-row">
                        <div class="container">
                            <div class="section-heading">
                                <h4 class="title fade-up">Deneyim</h4>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="service-item fade-up">
                                        <div class="icon">
                                            <i class="icon-desktop"></i>
                                        </div>
                                        <div class="content">
                                            <h6>Vardabit Bilişim hizmetlerinde(2022 6 AY)</h6>
                                            <p>Bu süreçta Uygulamalı olarak, Angular, Node.js, JavaScript Dilleri ile Proje Geliştirdim.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="service-item fade-up" data-delay="150">
                                        <div class="icon">
                                            <i class="fa fa-microchip"></i>
                                        </div>
                                        <div class="content">
                                            <h6>Bilgi İşlem(2021-2022 6 AY)</h6>
                                            <p>Genel Donanım ve Yazılımsal Alt yapının güncellenmesi ve olası donanımsal sorunlara müdahale. Bağlantı kopmaları vb.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="service-item fade-up" data-delay="200">
                                        <div class="icon">
                                            <i class="icon-phone"></i>
                                        </div>
                                        <div class="content">
                                            <h6>Web Tasarım - E-ticaret(OVİLED AYDINLATMA SİSTEMLERİ 2019-2020)</h6>
                                            <p>Kargo yönlendirilmeleri, kargo süreci, müşteri destek pozisyonundan sonra seo, Web tasarım E-ticaret İle ilgilendim.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="service-item fade-up" data-delay="250">
                                        <div class="icon">
                                            <i class="icon-strategy"></i>
                                        </div>
                                        <div class="content">
                                            <h6>SEO (CEYTO YAPI A.Ş 2017-2018)</h6>
                                            <p>Google, youtube, facebook vb. platformlarda, reklam ve tanıtım yapıp, google sıralamalarında ilk sayfalarda çıkmak. aralarında 2 kelime ile web sitemizi google ön sıralamasına çıkarttım.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-intro pt-row pb-row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <h3 class="text-center text-animate text-fadeIn fade-up" data-splitting="words">
                                        Ceyto Yapı firmasında haliflex.net web sitesinin seo çalışması yaptım ve 1 ay içerisinde google "Toptan Halıflex" aramasında ilk Sayfada 4. sıradaydı. çok mutlu oldum bunu biraz daha ileri taşıyıp, 8 ay boyunca orda kalmasını sağladım. bunu sadece 100
                                        ila 400 tl arasında parça parça reklam maliyeti ile başardım.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <div class="project-image--full bg-parallax fade-up">
                            <img src="images/1.jpg" alt="">
                        </div>
                    </div>
                    <br>
                    <div class="project-intro pt-row pb-row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <h3 class="text-center text-animate text-fadeIn fade-up" data-splitting="words">
                                        Oviled Firmasında ise beni bir macera bekliyordu, başta sadece Kargo süreçlerinde hizmet ederken ileriki zamanlarda, firmamızın SEO, Reklam ve en büyük sorun olan İade ler ile ilgili en etkili işler yaptım. bunların arasında müşterileri memnuniyetini
                                        gözeterek, iade değişim ve en çok teknik konularda müşterilerimize hizmet verdim. bunların dışında Hepsiburada, Gittigidiyor,(
                                        <-Kapandı) Trendyol, N11 ve firmamıza ait 3 web sitesinde reklam kampanyaları düzenledim. şirketimizin satışlarında yüzde 15% - 35% aralığında bir artık oluşturdum. bu artışın en büyük nedeni bütün şirket kaarını bozan iade sorunlarını çözerek bu kaarı
                                            artırdım. çünki firma sattığı ürünlere değil maaliyeti daha çok iadeye gittiğini fark ettim. en hızlı ve etkili reaksiyonu aldım. </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <div class="project-image--full bg-parallax fade-up">
                            <img src="images/2.jpg" alt="">
                        </div>
                    </div>
                    <br>

                    <div class="project-intro pt-row pb-row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <h3 class="text-center text-animate text-fadeIn fade-up" data-splitting="words">
                                        Gülem İş Güvenliği Firmasında Bilgi işlem elemanı olarak çalışmaya başladığımda, Bazı elektrik kabloların müdahelesi, Server Temizliği ve güvenliği, Çalışanlarımızın Örneğin, "Fare Çalışmıyor", "yazıcı yazdırmıyor" gibi sorunları ile ilgilendim. Bilgisayar
                                        donanım değişikliklerini ve temizliğini bunların dışında E-ticaret tarafında Hepsiburada, Trendyol mağazasında İlk 15 Günde 25 bin tllik güzel bir başlangıç satışı yaptım. firmamızın kullandığı mikro programını
                                        kullanarak kullanıcı yetkileri, Stok kartları açılması, değiştirilmesi, fiyatların güncellenmesi gibi işlemler yaptım. bunları daha çok bizim yapmamızın nedeni satış departmanında epey bir karışıklık olduğundan
                                        dolayı bilgi işlem olarak biz devr alıyorduk bu işlemleri.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <div class="project-image--full bg-parallax fade-up">
                            <img src="images/3.jpg" alt="">
                        </div>
                    </div>
                    <br>

                    <div class="project-intro pt-row pb-row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <h3 class="text-center text-animate text-fadeIn fade-up" data-splitting="words">
                                        Vardabit Bilişim Hizmetleri aslında Gülem iş Güvenliğine ait bir firmadır, zaten yazılım sektörüne girmek için bu gülem iş güvenliğinde işe başladım başarılı bir şekilde geçiş yaptım. ilk zamanlar bir çok farklı JS kütüphaneleri, HTML, CSS, Angular Node.js
                                        gibi çeşitli teklonilerin eğitimini ve projelerini yapmaya çalışıyorum. gülem iş güvenliği için bir yandan bilgi işlem tarafıyla ilgileniyordum. uygun bir arkadaşımız yerimi doldurduğunda ben tam anlamıyla yazılım
                                        departmanına geçecektim. o zamana kadar bilgi işlem ilede ilgilendim.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project-image">
                        <div class="project-image--full bg-parallax fade-up">
                            <img src="images/4.jpg" alt="">
                        </div>
                    </div>
                    <div class="project-intro pt-row pb-row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <h3 class="text-center text-animate text-fadeIn fade-up" data-splitting="words">
                                        Bazı detayları vermemdeki en önemli sebeb 2018 öncesindeki iş deneyimlerimin beni bu Meslek arayışına sevk etmesi, önceki iş deneyimlerinde mobinge sık sık maruz kalma, fazla iş verilmesi, fazla mesai yapılması ve hakkımızı alamama gibi bir sürü dertten
                                        sürekli yakınıyordum. severek yapmak istediğim bir meslek aradım kendime ve bunun yazılım olduğuna karar verdim. ben 2018 yılından beri bir yazılım firmasında nasıl çalışabilirim düşüncesi ve amacı sardı beni. fakat
                                        bu süreçte şöyle bir sorun vardı bu dönem de ben istanbuldaydım ve ailem ile yaşıyordum ekonomik durmumuz epey bir düşmüştü. kesinlikle bir yerden eğitim alıp daha sonra bir işe girmek gibi yaklaşık 6 7 ay hatta
                                        belki bir yıl sürecek bir işsizlik boşluğu buna engel olduğu için bende vazgeçmedim ve şöye bir plan yaptım eğer yazılımcı olamıyorsam orda bulunmam lazım başta "bir yazılım firmasında bilgi işlem, ofis çalışan,
                                        muhasebeci hatta temizlikçi olarak bile çalışırım" düşüncesi var dı. bende başta yazılım üretmeyen fakat bilişim sektöründe departmanı olan firmada çalışıyordum. bu firmada Çimçit üretim bölümünde idim ve daha sonra
                                        görüşme sağladıktan sonra bilişim ağırlıklı pozisyonunda çalışmaya başladım. yine başka bir firmaya girdim fakat bu sefer kendim öğreniyorum ama eksik olduğumu düşünerek bir kursa yazıldım ve PHP ve Veri Tabanı
                                        uzmanlığı Eğitimi (100 saat) eğitim aldım. hatta 2. ücretsizdi 2 ci kez gittim. adana ya taşındıktan sonra Gülem İş Güvenliği ve sonrasında vardabit firmasında yazılımcı olarak çalışmayı başardım. benim hedefim
                                        yazılımda gerçekten profesyonel bir şekilde hizmet sunmak, kod geliştirmek. hedefimi gerçekleştirdim şimdi ise daha büyük bir hedefin içerisine girdim. bu işi gerçekten çok seviyorum. kendimi bundan sonraki yıllarımda
                                        mesleğimi "yazılımcı" olarak ifade etmenin gururunu yaşıyor olmak istiyorun. okuduğunuz için teşekkür ederim.

                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div class="copyright-text">
                                <p>&copy; Alaaddin Turğay. All Right Reserved.</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="scroll-top" class="back-top">
                                <span>Başa Dön</span>
                                <div class="arrow-up">
                                    <div class="parallax-wrap">
                                        <div class="parallax-icon">
                                            <i class="fas fa-arrow-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>
    <div class="ajax-preloader">
        <div class="loading"></div>
    </div>

    <!--Jquery JS-->
    <script src="js/jquery.min.js"></script>
    <!--Plugins JS-->
    <script src="js/plugins.min.js"></script>
    <!--Google Map Api-->
    <script src="https://maps.googleapis.com/maps/api/js?key={Your-API-KEY}"></script>
    <!--Site Main JS-->
    <script src="js/main.js"></script>
</body>

</html>